CompileFlags:
  Add: [
      -DUNICODE,
      -D_UNICODE,
      "-std=c++17", # needed when using MSVC
      # you should replace this to your own include path of this project
      "-ID:/实习简历/PathFinding/JPS_Implementation/include/",
      # -Wno-microsoft-goto,
      # -Wno-nonportable-include-path,
      # -Wno-microsoft-extra-qualification,
      # -Wunused-variable,

      # -Wno-unused-value,
    ] # ignore some specific warnings
